/*SVG*/

svg:hover #sheen{
    transform: translateY(-130px) rotate(45deg);
   }

svg:hover #sheen-2{
    transform: translateY(-150px) rotate(45deg);
   }

/*svg:hover #sheen-border_bottom {
    opacity: 100;
    transform: translateY(130px);
    scale: 100%;
    width: 120px;
}

svg:hover #sheen-border_bottom {
    opacity: 100;
    transform: translateY(130px);
    scale: 100%;
    width: 120px;
}*/

/*svg:hover #sheen-border_right {
    transform: translate( -130px);
    opacity: 100;

}
*/
#sheen{
    transition: all 1s ease;
}

#sheen-2{
    transition: all 1.6s ease;
}

/*#sheen-border_bottom{
    transition: all 1s ease;
}

#sheen-border_right{
    transition: all 1s ease;
}

#sheen-border_top{
    transition: all 1s ease;
}

#sheen-border_left{
    transition: all 1s ease;
}*/






/*Light Mode Variables*/
/*Light Mode Variables*/

#mIcon{
    cursor: pointer;
    scale: 60%;
}

:root{
    --primaryNav-color: #131313;
    --primaryBG-color: #191919;
    --primaryFT-color: #131313;
    --primaryText-color: #fff;
    --primaryFancyText-color: linear-gradient(to right, #20B2AA 30%, #7FFF00 100%);
    --primaryCurrent-color: #7cfc00;
    --primaryHead-color: #7FFFD4;
}
.light-theme{
    --primaryNav-color: #f7f7f7;
    --primaryBG-color: #e0e0e0;
    --primaryFT-color: #f7f7f7;
    --primaryText-color: #131313;
    --primaryFancyText-color: #131313;
    --primaryCurrent-color: #0aa05a;
    --primaryHead-color: #131313;
}
/*Light Mode Variables*/
/*Light Mode Variables*/

#currentPageNav{
    color: var(--primaryCurrent-color);
    font-weight: 700;
}




*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

*::-webkit-scrollbar {
    display: none;
  }

.navbar{
    background: var(--primaryNav-color);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar__logo{
    background-color: var(--primaryFancyText-color);
    background-image: var(--primaryFancyText-color);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2.5rem;
}

.WaveF {
    margin-right: 2rem;
    width: 70px;
    height: 70px
}

.navbar__menu{
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item{
    height: 50px
}

.navbar__links{
    color: var(--primaryText-color);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.navbar__btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background-color:#7FFFD4;
    color: #131313;
}

.button:hover{
    background: #4837ff;
    transition: all 0.5s ease;
}

.navbar__links:hover{
    color: var(--primaryCurrent-color);
    transition: all 0.5s ease;
}

@media screen and (max-width: 740px){
    .navbar__container{
        display: flex;
        justify-content: space-between;
        height:60px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar__menu{
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        transition: all 0.5s ease;
        height: 40vh;
        z-index: -1;
        background: var(--primaryNav-color);
        padding-top: 30px;
    }

    #navbar__logo{
        padding-left: 25px;
        font-size: 2rem;
    }

    .navbar__item{
        width: 100%;
    }

    .navbar__links{
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    #mobile-menu{
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar__btn{
        padding-bottom: 2rem;
    }

    .button{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70%;
        height: 60px;
        margin: 0;
        z-index: 0;
    }
}

/*Main Body Section*/

.main{
    background-color: var(--primaryBG-color);
}

.main__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    background-color: var(--primaryBG-color);
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
}

.main__content h1{
    font-size: 4rem;
    background-color: var(--primaryFancyText-color);
    background-image: var(--primaryFancyText-color);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.main__content h2{
    font-size: 4rem;
    background-color: var(--primaryFancyText-color);
    background-image: var(--primaryFancyText-color);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.main__content p{
    font-size: 4rem;
    background-color: var(--primaryFancyText-color);
    background-image: var(--primaryFancyText-color);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    font-size: 3rem;
    font-weight: 500;
}
/*fffffffffffffffff*/
.main__btn{
    font-size: 1rem;
    background-image:linear-gradient(to right, #20B2AA 0%, #7FFFD4 100%);
    padding: 14px 32px;
    border: none;
    border-radius: 4px;
    color: #191919;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
}

.main__btn a{
    position: relative;
    z-index: 2;
    color: #191919;
    text-decoration: none;
    z-index: 1;
    font-weight: 700;
}

.main__btn:after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #4837ff;
    transition: all 0.35s;
    border-radius: 4px;
}

.main__btn:hover{
    color: #fff;
}

.main__btn:hover:after{
    width: 100%;
}

.main__img--container{
    text-align: center
}

#main__img{
    padding-top: 2rem;
    height: 80%;
    width: 80%;
}

/*mobile*/

@media screen and (max-width: 900px) {
    .main__container{
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-self: center;
        width: 100%;
        margin: 0 auto;
        height: 100vh;
    }
    .main__content{
        text-align: center;
        margin-bottom: 4rem;
    }

    .main__content h1{
        font-size: 3rem;
        margin-top: 2rem;
    }

    .main__content h2{
        font-size: 3rem;
    }

    .main__content p{
        font-size: 1.5rem;
        margin-top: 1rem;
    }
}


@media screen and (max-width: 740px) {
    .main__container{
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-self: center;
        width: 100%;
        margin: 0 auto;
        height: 100vh;
    }
    .main__content{
        padding-top: 420px;
        text-align: center;
        margin-bottom: 4rem;
    }

    .main__content h1{
        font-size: 3rem;
        margin-top: -90px;
    }

    .main__content h2{
        font-size: 3rem;
    }

    .main__content p{
        font-size: 1.5rem;
        margin-top: 1rem;
    }
}

/* PhotoCards */

.PreviewCards{
    background: var(--primaryBG-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 120vh;
}

.PreviewCards h1{
    background-color: var(--primaryFancyText-color);
    background-image: var(--primaryFancyText-color);
    background-size: 100%;
    margin-bottom: 2rem;
    font-size: 2.5rem;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    margin-top: 100px;
    padding-top: 20px;
}

.PreviewCards__container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.PreviewCards__card {
    margin: 1rem;
    height: 525px;
    width: 400px;
    border-radius: 4px;
    background-image: linear-gradient(
    to bottom, 
    rgba(0,0,0,0) 0%, 
    rgba(17,17,17,0.6) 100%), 
    url('images/RockStackGit.jpg');
    background-size: cover;
    position: relative;
    color: #fff
}

.PreviewCards__card:nth-child(2){
    background-image: linear-gradient(
    to bottom, 
    rgba(0,0,0,0) 0%, 
    rgba(17,17,17,0.6) 100%), 
    url('images/DriversLicenseCover.jpg');
}

.PreviewCards h2{
    position: absolute;
    top: 400px;
    left: 30px;
}

.PreviewCards__card button{
    color: #171717;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #7FFFD4;
    position: absolute;
    top: 420px;
    left: 30px;
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none;
}

.PreviewCards__card:hover{
    transform: scale(1.075);
    transition: 0.2s ease-in;
}

@media screen and (max-width: 900px){
    .PreviewCards{
        height: 1600px;
    }

    .PreviewCards h1{
        font-size: 2rem;
        margin-top: 27rem;
    }
}



/* Picture Gallery */

.PictureGallery{
    background: var(--primaryBG-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 230vh;
}

.PictureGallery h1{
    background-color: var(--primaryFancyText-color);
    background-image: var(--primaryFancyText-color);
    background-size: 100%;
    margin-bottom: 0rem;
    font-size: 2.5rem;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    margin-top: 80px;
    padding-top: 0px;
}

.PictureGallery__container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.PictureGallery h3{
    position: absolute;
    top: 535px;
    left: 0px;
    font-size: 25px;
}

.PictureGallery p{
    position: absolute;
    top: 570px;
    left: 0px;
}

.PictureGallery__pic {
    margin: 3rem;
    height: 525px;
    width: 400px;
    margin-bottom: 200px;
    border-radius: 4px;
    background-image: linear-gradient(
    to bottom, 
    rgba(0,0,0,0) 0%, 
    rgba(0,0,0,0) 100%), 
    url('images/RockStackGit.jpg');
    background-size: cover;
    position: relative;
    color: var(--primaryText-color);
}

.PictureGallery__pic:nth-child(2){
    background-image: linear-gradient(
    to bottom, 
    rgba(0,0,0,0) 0%, 
    rgba(0,0,0,0) 100%), 
    url('images/MeadowGit.jpg');
}

.PictureGallery__pic:nth-child(3){
    background-image: linear-gradient(
    to bottom, 
    rgba(0,0,0,0) 0%, 
    rgba(0,0,0,0) 100%),  
    url('images/TreeTopsGit.jpg');
}

.PictureGallery__pic:nth-child(4){
    background-image: linear-gradient(
    to bottom, 
    rgba(0,0,0,0) 0%, 
    rgba(0,0,0,0) 100%),  
    url('images/Bridge.jpg');
}

.PictureGallery__pic:nth-child(5){
    background-image: linear-gradient(
    to bottom, 
    rgba(0,0,0,0) 0%, 
    rgba(0,0,0,0) 100%),  
    url('images/BridgeStraight.jpg');
}

.PictureGallery__pic:nth-child(6){
    background-image: linear-gradient(
    to bottom, 
    rgba(0,0,0,0) 0%, 
    rgba(0,0,0,0) 100%),  
    url('images/Powerlines.jpg');
}

@media screen and (max-width: 1420px){
    .PictureGallery{
        height: 300vh;
    }
}

@media screen and (max-width: 944px){
    .PictureGallery{
        height: 540vh;
    }
}

@media screen and (max-width: 740px){
    .PictureGallery{
        height: 570vh;
    }

    .PictureGallery h1{
        font-size: 2rem;
        margin-top: 24rem;
    }
}

/*Writings Page*/

.writings__container{
    align-items: center;
    justify-self: center;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 0 50px;
    background-color: var(--primaryBG-color);
    z-index: 1;
    width: 100%;
    height: 200vh;
    max-width: 1000px;
}

.writings__container h1{
    background-color: var(--primaryFancyText-color);
    background-image: var(--primaryFancyText-color);
    background-size: 100%;
    font-size: 3rem;
    position: absolute;
    top: 110px;
    max-width: 1000px;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.writings__container h2{
    font-size: 2.2rem;
    color: var(--primaryText-color);
    position: absolute;
    top: 205px;
    max-width: 1000px;
}

.writings__container p{
    top: 240px;
    font-size: 1.5rem;
    color: var(--primaryText-color);
    position: absolute;
    max-width: 1000px;
}

.WP__button{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 20px 20px;
    margin-top: 10px;
    height: 50px;
    width: 150px;
    border: none;
    outline: none;
    border-radius: 4px;
    background-color:#7FFFD4;
    color: #131313;
}

.WP__button:hover{
    background: #4837ff;
    transition: all 0.5s ease;
}

@media screen and (max-width: 740px){
    .writings__container{
        height: 300vh;
        margin: 0 40px;
        padding: 0 0;
    }

    .writings__container h1{
        top: 410px;
    }

    .writings__container h2{
        top: 510px;
    }

    .writings__container p{
        top: 550px;
    }
}

/*Video Gallery*/

.VideoGallery{
    background: var(--primaryBG-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: Auto;
}

.VideoGallery__container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.VideoGallery h1{
    background-color: var(--primaryFancyText-color);
    background-image: var(--primaryFancyText-color);
    background-size: 100%;
    margin-bottom: 2rem;
    font-size: 2.5rem;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    margin-top: 80px;
    padding-bottom: 20px;
}

.VideoGallery h4{
    text-align: center;
    font-size: 2rem;
    color: var(--primaryText-color);
    padding-left: 20px;
    line-height: 30px;
    font-weight: 500;
    margin-top: 6rem;
}

.VideoGallery__vid {
    justify-content: center;
    text-align: center;
    margin: 3rem;
    height: 315px;
    width: auto;
    max-width: 560px;
    margin-bottom: 70px;
    border-radius: 4px;
    background-image: linear-gradient(
    to bottom, 
    rgba(0,0,0,0) 0%, 
    rgba(0,0,0,0) 100%);
    background-size: cover;
    position: relative;
    color: var(--primaryText-color);
}

.VideoGallery h3{
    padding-bottom: 20px;
    font-size: 30px;
    color: var(--primaryText-color);
}

.VideoGallery__vid:nth-child(2){
    background-image: linear-gradient(
    to bottom, 
    rgba(0,0,0,0) 0%, 
    rgba(0,0,0,0) 100%);
}

@media screen and (max-width: 740px){
    .VideoGallery h1{
        padding: 220px 0 0 0;
        top: 200px;
    }

    .VideoGallery__container h1{
        top: 410px;
    }
}

/*About Page*/

.about__container{
    align-items: center;
    justify-self: center;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 0 50px;
    background-color: var(--primaryBG-color);
    z-index: 1;
    width: 100%;
    height: 200vh;
    max-width: 1000px;
}

.about__container h1{
    background-color: var(--primaryFancyText-color);
    background-image: var(--primaryFancyText-color);
    background-size: 100%;
    font-size: 3rem;
    padding-top: 110px;
    max-width: 1000px;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.about__container h3{
    background-color: var(--primaryFancyText-color);
    background-image: var(--primaryFancyText-color);
    background-size: 100%;
    font-size: 3rem;
    padding-top: 110px;
    max-width: 1000px;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.about__container h2{
    padding-top: 2.7rem;
    font-size: 2.2rem;
    color: var(--primaryText-color);
    max-width: 1000px;
    line-height: 30px;
    padding-right: 30px;
}

.about__container p{
    padding-top: 1.2rem;
    font-size: 1.5rem;
    color: var(--primaryText-color);
    margin-right: 40px;
    max-width: 1000px;
    line-height: 30px;
    padding-right: 30px;
}

.about__container li{
    padding-top: 1.2rem;
    margin-left: 30px;
    padding-right: 30px;
    font-size: 1.5rem;
    color: var(--primaryText-color);
    margin-right: 40px;
    max-width: 1000px;
    line-height: 20px;
}

@media screen and (max-width: 740px){
    .about__container{
        height: 300vh;
        margin: 0 40px;
        padding: 0 0;
    }

    .about__container h1{
        padding-top: 300px;
    }
}

.footer__container{
    background-color: var(--primaryFT-color);
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

#footer__logo{
    background-color: var(--primaryFancyText-color);
    background-image: var(--primaryFancyText-color);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2.5rem;
    padding-right: 3rem;
}

.social__icons--link{
    color: var(--primaryText-color);
    font-size: 30px;
}

.social__media{
    max-width: 1000px;
    width: 100%;
}

.social__media--wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    max-width: 1000px;
    margin: 40px auto 0 auto;
}

.social__icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    color: #fff;
}

.social__logo{
    color: #fff;
    justify-self: flex-start;
    margin-left: 0px;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
}


/*Corpus Section*/
.corpus__main{
    background-color: var(--primaryBG-color);
}

.corpus__container{
    margin: auto;
    background-color:var(--primaryBG-color);
    z-index: 1;
    width: 100%;
    height: auto;
    max-width: 1000px;
}

.corpus__container__pic{
    margin: 3rem;
    height: 525px;
    width: 400px;
    margin-bottom: 200px;
    border-radius: 4px;
    background-image: linear-gradient(
    to bottom, 
    rgba(0,0,0,0) 0%, 
    rgba(0,0,0,0) 100%), 
    url('images/RockStackGit.jpg');
    background-size: cover;
    position: relative;
    color: #fff;
}



.corpus__container h1{
    background-color: var(--primaryFancyText-color);
    background-image: var(--primaryFancyText-color);
    background-size: 100%;
    font-size: 3rem;
    padding-top: 110px;
    padding-left: 20px;
    max-width: 1000px;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.corpus__container h3{
    text-align: center;
    padding-top: 3rem;
    font-size: 2.2rem;
    color: var(--primaryHead-color);
    max-width: 1000px;
    line-height: 30px;
    padding-right: 30px;
}

.corpus__container h4{
    text-align: center;
    padding-top: 1.2rem;
    font-size: 1.5rem;
    color: var(--primaryText-color);
    padding-left: 20px;
    max-width: 1000px;
    line-height: 30px;
    padding-right: 30px;
    font-weight: 500;
    max-width: 700px;
    margin: auto;
}

.corpus__container h5{
    padding-top: 3rem;
    font-size: 2.2rem;
    color: var(--primaryHead-color);
    max-width: 1000px;
    line-height: 30px;
    padding-top: 110px;
    padding-left: 20px;
}

.corpus__container h2{
    padding-top: 6rem;
    font-size: 2.2rem;
    color: var(--primaryText-color);
    padding-left: 20px;
    max-width: 1000px;
    line-height: 30px;
    padding-right: 30px;
}

.corpus__container p{
    padding-top: 1.2rem;
    font-size: 1.5rem;
    color: var(--primaryText-color);
    padding-left: 20px;
    max-width: 1000px;
    line-height: 30px;
    padding-right: 30px;
}

.corpus__container li{
    padding-top: 1.2rem;
    margin-left: 60px;
    padding-right: 30px;
    font-size: 1.5rem;
    color: var(--primaryText-color);
    margin-right: 40px;
    max-width: 1000px;
    line-height: 20px;
}

.corpus__container br{
    display: block;
    margin: 5px 0;
}

.corpus__pic {
    margin: 3rem;
    height: auto;
    width: 90%;
    margin-bottom: 10px;
    border-radius: 4px;
    background-size: cover;
    position: relative;
    color: #fff;
}

.corpus__container a:hover {
    color: #7FFFD4;
}

.corpus__container a:visited {
    color: #20B2AA;
}

.corpus__line{
    padding-top: 7rem;
  display: block;
  margin-left: 0;
  width: 10%;
}

.corpus__line__center{
    padding-top: 7rem;
  display: block;
  margin: auto;
  width: 10%;
}

.corpus__list__container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.corpus__list{
    align-items: center;
    margin: 3rem;
    height: 220px;
    width: 400px;
    margin-bottom: 50px;
    border-radius: 4px;
    background-size: cover;
    position: relative;
    color: var(--primaryText-color);
}

.corpus__list__container li{
    padding-top: 1.2rem;
    margin-left: 150px;
    padding-right: 30px;
    font-size: 1.5rem;
    color: var(--primaryText-color);
    margin-right: 40px;
    max-width: 1000px;
    line-height: 20px;
}

/*ProjectPage*/

.ProjectCards{
    background: var(--primaryBG-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    padding-bottom: 10rem;
}

.ProjectCards h1{
    background-color: var(--primaryFancyText-color);
    background-image: var(--primaryFancyText-color);
    background-size: 100%;
    margin-bottom: 2rem;
    font-size: 2.5rem;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    margin-top: 80px;
}

.ProjectCards__container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.ProjectCards__card {
    margin: 1rem;
    height: 525px;
    width: 400px;
    border-radius: 4px;
    background-image: linear-gradient(
    to bottom, 
    rgba(0,0,0,0) 0%, 
    rgba(17,17,17,0.6) 100%), 
    url('images/WPvsHTML.JPG');
    background-size: cover;
    position: relative;
    color: #fff;
    text-decoration: none;
}

.ProjectCards__card:nth-child(2){
    background-image: linear-gradient(
    to bottom, 
    rgba(0,0,0,0) 0%, 
    rgba(17,17,17,0.6) 100%), 
    url('images/corpusimg.PNG');
}

.ProjectCards__card:nth-child(3){
    background-image: linear-gradient(
    to bottom, 
    rgba(0,0,0,0) 0%, 
    rgba(17,17,17,0.6) 100%), 
    url('images/SaturnV.png');
}

.ProjectCards__card:nth-child(4){
    background-image: linear-gradient(
    to bottom, 
    rgba(0,0,0,0) 0%, 
    rgba(17,17,17,0.6) 100%), 
    url('images/InsidetheVoidCover3.PNG');
}

.ProjectCards__card:nth-child(5){
    background-image: linear-gradient(
    to bottom, 
    rgba(0,0,0,0) 0%, 
    rgba(17,17,17,0.6) 100%), 
    url('images/ThreeJSCover.png');
}

.ProjectCards h2{
    padding-top: 470px;
    text-align: center;
    font-size: 2rem;
    text-decoration: none;
}

.ProjectCards__card button{
    color: #171717;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #7FFFD4;
    position: absolute;
    top: 420px;
    left: 30px;
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none;
}

.ProjectCards__card:hover{
    transform: scale(1.075);
    transition: 0.2s ease-in;
}

.timeline{
    width: 85%;
    height: 720px;
}

.website_right{
    color: var(--primaryText-color);
    padding-left: 40px;
}

/*Game Analysis*/

.ga__main{
    background-color: var(--primaryBG-color);
}

.ga__container{
    margin: auto;
    background-color:var(--primaryBG-color);
    z-index: 1;
    width: 100%;
    height: auto;
    max-width: 1000px;
}

.ga__container__pic{
    margin: 3rem;
    height: 525px;
    width: 400px;
    margin-bottom: 200px;
    border-radius: 4px;
    background-image: linear-gradient(
    to bottom, 
    rgba(0,0,0,0) 0%, 
    rgba(0,0,0,0) 100%), 
    url('images/RockStackGit.jpg');
    background-size: cover;
    position: relative;
    color: #fff;
}



.ga__container h1{
    text-align: center;
    background-color: var(--primaryFancyText-color);
    background-image: var(--primaryFancyText-color);
    background-size: 100%;
    font-size: 3rem;
    padding-top: 110px;
    padding-left: 20px;
    max-width: 1000px;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.ga__container h3{
    text-align: center;
    padding-top: 3rem;
    font-size: 2.2rem;
    color: var(--primaryHead-color);
    max-width: 1000px;
    line-height: 30px;
    padding-right: 30px;
}

.ga__container h4{
    text-align: center;
    padding-top: 1.2rem;
    font-size: 1.5rem;
    color: var(--primaryText-color);
    padding-left: 20px;
    max-width: 1000px;
    line-height: 30px;
    padding-right: 30px;
    font-weight: 500;
    max-width: 700px;
    margin: auto;
}

.ga__container h5{
    padding-top: 3rem;
    font-size: 2.2rem;
    color: var(--primaryHead-color);
    max-width: 1000px;
    line-height: 30px;
    padding-top: 110px;
    padding-left: 20px;
}

.ga__container h2{
    padding-top: 6rem;
    font-size: 2.2rem;
    color: var(--primaryText-color);
    padding-left: 20px;
    max-width: 1000px;
    line-height: 30px;
    padding-right: 30px;
}

.ga__container p{
    padding-top: 1.2rem;
    font-size: 1.5rem;
    color: var(--primaryText-color);
    padding-left: 20px;
    max-width: 1000px;
    line-height: 30px;
    padding-right: 30px;
}

.ga__container li{
    padding-top: 1.2rem;
    margin-left: 60px;
    padding-right: 30px;
    font-size: 1.5rem;
    color: var(--primaryText-color);
    margin-right: 40px;
    max-width: 1000px;
    line-height: 20px;
}

.ga__container br{
    display: block;
    margin: 5px 0;
}

.ga__pic {
    margin: 3rem;
    height: auto;
    width: 90%;
    margin-bottom: 10px;
    border-radius: 4px;
    background-size: cover;
    position: relative;
    color: #fff;
}

.ga__container a:hover {
    color: #7FFFD4;
}

.ga__container a:visited {
    color: #20B2AA;
}

.ga__line{
    padding-top: 7rem;
  display: block;
  margin-left: 0;
  width: 10%;
}

.ga__line__center{
    padding-top: 7rem;
  display: block;
  margin: auto;
  width: 10%;
}

.ga__list__container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.ga__list{
    align-items: center;
    margin: 3rem;
    height: 220px;
    width: 400px;
    margin-bottom: 50px;
    border-radius: 4px;
    background-size: cover;
    position: relative;
    color: var(--primaryText-color);
}

.ga__list__container li{
    padding-top: 1.2rem;
    margin-left: 150px;
    padding-right: 30px;
    font-size: 1.5rem;
    color: var(--primaryText-color);
    margin-right: 40px;
    max-width: 1000px;
    line-height: 20px;
}

.tut_indent{
    padding-left: 80px;
}