*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.navbar{
    background: #131313;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    position: sitcky;
    top: 0;
    z-index: 999;
}

.navbar__container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar__logo{
    background-color: #7cfc00;
    background-image: linear-gradient(to right, #20B2AA 30%, #7FFF00 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2.5rem;
}

.WaveF {
    margin-right: 2rem;
}

.navbar__menu{
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item{
    height: 80px
}

.navbar__links{
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.navbar__btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background-color:#7FFFD4;
    color: #131313;
}

.button:hover{
    background: #4837ff;
    transition: all 0.5s ease;
}

.navbar__links:hover{
    color: #7cfc00;
    transition: all 0.5s ease;
}

@media screen and (max-width: 740px){
    .navbar__container{
        display: flex;
        justify-content: space-between;
        height:60px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar__menu{
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        transition: all 0.5s ease;
        height: 40vh;
        z-index: -1;
        background: #131313;
        padding-top: 30px;
    }

    .navbar__menu.active{
        background: #131313;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 50vh;
        font-size: 1.6rem;
    }

    #navbar__logo{
        padding-left: 25px;
        font-size: 2rem;
    }

    .navbar__toggle .bar{
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
    }

    .navbar__item{
        width: 100%;
    }

    .navbar__links{
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    #mobile-menu{
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar__btn{
        padding-bottom: 2rem;
    }

    .button{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80px;
        margin: 0;
        z-index: 0;
    }
}

/*Main Body Section*/

.main{
    background-color: #191919;
}

.main__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    background-color: #191919;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
}

.main__content h1{
    font-size: 4rem;
    background-color: #7cfc00;
    background-image: linear-gradient(to right, #20B2AA 0%, #7FFF00 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.main__content h2{
    font-size: 4rem;
    background-color: #7cfc00;
    background-image: linear-gradient(to right, #20B2AA 40%, #7FFF00 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.main__content p{
    font-size: 4rem;
    background-color: #7cfc00;
    background-image: linear-gradient(to right, #7FFFD4 50%, #7FFFD4 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    font-size: 3rem;
    font-weight: 500;
}

.main__btn{
    font-size: 1rem;
    background-image:linear-gradient(to right, #20B2AA 0%, #7FFFD4 100%);
    padding: 14px 32px;
    border: none;
    border-radius: 4px;
    color: #191919;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
}

.main__btn a{
    position: relative;
    z-index: 2;
    color: #191919;
    text-decoration: none;
    z-index: 1;
    font-weight: 700;
}

.main__btn:after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #4837ff;
    transition: all 0.35s;
    border-radius: 4px;
}

.main__btn:hover{
    color: #fff;
}

.main__btn:hover:after{
    width: 100%;
}

.main__img--container{
    text-align: center
}

#main__img{
    padding-top: 2rem;
    height: 80%;
    width: 80%;
}

/*mobile*/

@media screen and (max-width: 900px) {
    .main__container{
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-self: center;
        width: 100%;
        margin: 0 auto;
        height: 100vh;
    }
    .main__content{
        text-align: center;
        margin-bottom: 4rem;
    }

    .main__content h1{
        font-size: 3rem;
        margin-top: 2rem;
    }

    .main__content h2{
        font-size: 3rem;
    }

    .main__content p{
        font-size: 1.5rem;
        margin-top: 1rem;
    }
}


@media screen and (max-width: 740px) {
    .main__container{
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-self: center;
        width: 100%;
        margin: 0 auto;
        height: 100vh;
    }
    .main__content{
        padding-top: 420px;
        text-align: center;
        margin-bottom: 4rem;
    }

    .main__content h1{
        font-size: 3rem;
        margin-top: -90px;
    }

    .main__content h2{
        font-size: 3rem;
    }

    .main__content p{
        font-size: 1.5rem;
        margin-top: 1rem;
    }
}

/* PhotoCards */

.PreviewCards{
    background: #191919;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.PreviewCards h1{
    background-color: #7cfc00;
    background-image: linear-gradient(to right, #00FF7F 0%, #7FFFD4 0%, #7FFFD4 21%, #7FFFD4 52%, #7FFFD4 78%, #7FFFD4 100%);
    background-size: 100%;
    margin-bottom: 2rem;
    font-size: 2.5rem;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    margin-top: 100px;
}

.PreviewCards__container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.PreviewCards__card {
    margin: 1rem;
    height: 525px;
    width: 400px;
    border-radius: 4px;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(17,17,17,0.6) 100%), url('/images/RockStackGit.jpg');
    background-size: cover;
    position: relative;
    color: #fff
}

.PreviewCards__card:nth-child(2){
    background-image: linear-gradient(
        to bottom,
         rgba(0,0,0,0) 0%, 
         rgba(17,17,17,0.6) 100%
         ), 
         url('/images/DriversLicenseCover.jpg');
}

.PreviewCards h2{
    position: absolute;
    top: 400px;
    left: 30px;
}

.PreviewCards__card button{
    color: #171717;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #7FFFD4;
    position: absolute;
    top: 420px;
    left: 30px;
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none;
}

.PreviewCards__card:hover{
    transform: scale(1.075);
    transition: 0.2s ease-in;
}

@media screen and (max-width: 900px){
    .PreviewCards{
        height: 1600px;
    }

    .PreviewCards h1{
        font-size: 2rem;
        margin-top: 21rem;
    }
}
